@use "sass:math";
@use "variables" as *;

/*
	With some fonts, we may need to return a different font here.
	With others we just return font-style or font-weight.

	Usage: @include font-italic();
*/
@mixin font-italic() {
  font-style: italic;
}

@mixin font-bold() {
  font-weight: $font-weight-bold;
}

/*
  Mixin to zero-out ULs, OLs, LIs.
*/
@mixin zerolist() {
  list-style: none;
  margin: 0;
  padding: 0;
}
