.kb-table-of-content-nav {
	.kb-table-of-content-wrap {
		.kb-table-of-content-list {
			margin-top: 0 !important;
			list-style-type: none !important;
			padding-left: 0 !important;
		}
	}
}

// Hide excerpt "Read More"
.wp-block-post-excerpt {
	.wp-block-post-excerpt__excerpt {
		.wp-block-post-excerpt__more-link {
			display: none;
		}
	}
}
.content-style-boxed {
	.site-main {
		.content-bg {
			border-radius: 16px;
		}
	}
}
